body {
  display: flex;
  font-family: "Noto Sans KR", sans-serif;
  background-color: yellow;
  font-weight: 500;
  /* height: 100vh; */
  /* width: 100vw; */
}
li {
  text-decoration: none;
}
/* 메인 페이지 */
.container {
  position: relative;
  background-color: #eeece5;
  overflow-y: hidden;
  opacity: 0.8;
  margin: 10px auto;
  width: 375px;
  height: 812px;
}
/* 이체 페이지 */
.container_2 {
  position: relative;
  background-color: #fff;
  overflow-y: hidden;
  z-index: 4;
  margin-top: 10px;
  transition: 1s;
  width: 375px;
  height: 812px;
}
/* 지출관리 페이지 */
.container_3 {
  position: relative;
  background-color: #fff;
  overflow-y: hidden;
  z-index: 4;
  margin-top: 11px;
  transition: 1s;
  width: 375px;
  height: 812px;
}
