body {
  font-family: "Noto Sans KR", sans-serif;
  background-color: black;
  font-weight: 500;
  /* border: 1px solid black; */
}
.container {
  position: relative;
  background-color: #eeece5;

  margin: 10px auto;
  width: 375px;
  height: 812px;
}
