.history {
  position: absolute;
  width: 100%;
  height: 637px;
  transition: 0.8s;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  margin-top: 309px;
  z-index: 2;
  overflow-y: hidden;
  box-sizing: border-box;
  background-color: #f5f5f5;
}
.history > button {
  display: block;
  border: none;
  background-color: #c4c4c4;
  cursor: pointer;
  border-radius: 10px;
  width: 48px;
  height: 6px;
  margin: 0 auto;
  margin-top: 6px;
}

/* 지출관리 margin-top736px */
