.plan {
  background-color: #f5f5f5;
  position: fixed;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  width: 375px;
  height: 70px;
}
.swiper-container {
  overflow: auto;
  width: 350px;
  margin: 0 auto;
  margin-top: 20px;
  margin-left: 10px;
  text-align: left;
}
.swiper-container::-webkit-scrollbar {
  display: none;
}

.swiper-slide {
  display: block;
  text-align: left;
  background: #dadada;
  height: 46px;
  width: 200px;
  border-radius: 6px;
  padding: 0 29px;
  padding-left: 0;
  margin-top: 4px;
}
.swiper-slide:first-child {
  margin-left: -90px;
}

.swiper-slide:last-child {
  width: 100px;
  text-align: left;
  background: rgb(0, 0, 0, 0);
}

/* 더하기 + */
.swiper-slide > .circle {
  position: absolute;
  display: flex;
  justify-content: center;
  /* align-items: center; */
  border: 1px solid black;
  border-radius: 20px;
  width: 22.5px;
  height: 22.5px;
}

.swiper-container-vertical > .swiper-pagination-bullets {
  top: unset !important;
  left: 0;
}

.swiper-container-vertical
  > .swiper-pagination-bullets
  .swiper-pagination-bullet {
  display: inline-block !important;
  margin: 6px 2px !important;
}
.swiper-slide > span {
  color: #fff;
  display: flex;
  background-color: #ff5f00;
  padding-left: 10px;
  padding-top: 5px;
  font-size: 12px;
  width: 100px;
  height: 46px;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}
.swiper-slide:nth-child(2) > span {
  background-color: #feb700;
  width: 120px;
}
.swiper-slide:last-child > span {
  background-color: #55acee;
}
.swiper-slide > .circle {
  display: flex;

  justify-content: center;
  align-items: center;
}
